@model NotificationWebsite.Models.User

<body>
    <h1>Приветствуем вас в нашей системе, @Model.Name!</h1>
    <p>Ваша почта: @Model.Email</p>
    <img src="https://http.cat/200.jpg" alt="cat_200state_code" width="600" height="480" />
</body>
