@page
@model NotificationWebsite.Models.User;
@{
    ViewData["Title"] = "Notification Subscribe";
}

<div class="container mt-5">
    <div class="text-center mb-4">
        <h3 class="display-4">Notification Subscription</h3>
    </div>

    <form method="post" asp-controller="Users" asp-action="CreateUser" class="w-75 mx-auto shadow p-4 bg-light rounded">
        <h4 class="mb-4">Subscribe to Notifications</h4>

        <div asp-validation-summary="ModelOnly" class="text-danger mb-4"></div>

        <div class="form-group mb-3">
            <label asp-for="Name" class="control-label fw-bold"></label>
            <input asp-for="Name" class="form-control" placeholder="John Doe" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="form-group mb-3">
            <label asp-for="Email" class="control-label fw-bold"></label>
            <input asp-for="Email" class="form-control" placeholder="example@example.com" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div class="form-group mb-4">
            <label asp-for="Age" class="control-label fw-bold"></label>
            <input asp-for="Age" class="form-control" type="number" min="1" placeholder="from 18 to 100" />
            <span asp-validation-for="Age" class="text-danger"></span>
        </div>

        @if (TempData["SuccessSubscription"] != null)
        {
            <div class="alert alert-success">
                @TempData["SuccessSubscription"]
            </div>
        }
        @if (TempData["ErrorSubscription"] != null)
        {
            <div class="alert alert-danger">
                @TempData["ErrorSubscription"]
            </div>
        }

        <div class="form-group">
            <input type="submit" value="Subscribe" class="btn btn-primary btn-block mt-2" />
        </div>
    </form>

    <div class="text-center my-5">
        <h4 class="mb-4">Send Instant Email Notification</h4>
        <form id="sendEmailForm" method="post" onsubmit="setAction(event)" class="w-75 mx-auto shadow p-4 bg-light rounded">
            <div class="form-group mb-3">
                <label for="UserId" class="control-label fw-bold mb-1">User ID</label>
                <input type="number" name="id" class="form-control" required placeholder="User ID" />
            </div>

            @if (TempData["ErrorInstantNotify"] != null)
            {
                <div class="alert alert-danger">
                    @TempData["ErrorInstantNotify"]
                </div>
            }
            @if (TempData["SuccessInstantNotify"] != null)
            {
                <div class="alert alert-success">
                    @TempData["SuccessInstantNotify"]
                </div>
            }
            <div class="form-group">
                <input type="submit" value="Instant Send Email" class="btn btn-primary btn-block mt-2" />
            </div>
        </form>
    </div>
</div>

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />

    <script>
        function setAction(event) {
            const form = document.getElementById('sendEmailForm');
            const id = form.querySelector('input[name="id"]').value;
            form.action = `/api/users/${id}/email`;
        }
    </script>
}